<h1>Bonjour !</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
</p>

<p>Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>A tout de suite !</p>
