<h1>Bonjour {{ user.prenom }}</h1>

<p>Nous avons le regret de vous informer que la sortie "{{ sortie.nom }}" a été annulée</p>
<br><br>
<p>Voici la raison</p>
<p>{{ sortie.raisonAnnulation }}</p>
<br>
<p>Pas grave, organisez votre propre sortie en cliquant</p><a href="http://localhost/BetweenStudents/public/sortie/create">ICI</a>

<p>A tout de suite !</p>
