<h1>Bonjour {{ user.prenom }}</h1>

<p>Nous avons le regret de vous informer que la sortie "{{ sortie.nom }}" a été annulée</p>
<br><br>
<p>Voici la raison</p>
<p>{{ sortie.raisonAnnulation }}</p>
<br>
<p>
    Pas grave, organisez votre propre sortie en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Proposer une sortie</a>
</p>


<p>A tout de suite !</p>
