{% extends 'base.html.twig' %}

{% block title %}Proposer votre sortie{% endblock %}

{% block body %}
    <div class="row">
        <h1>Créer une sortie</h1>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button class="ui primary button" type="submit">Enregistrer</button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/requeteAjax.js') }}"></script>
    <script>requeteAjaxGet('#sortie_form_codePostal', 'change', '#sortie_form_ville')</script>
{% endblock %}
