{% extends 'base.html.twig' %}

{% block title %}Supprimer votre sortie{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Supprimer votre sortie</h3>
                    {{ form_start(sortieDeleteForm) }}
                    <div class="field">
                        {{ form_row(sortieDeleteForm.raisonAnnulation) }}
                    </div>
                    <div class="field">
                        {{ form_row(sortieDeleteForm.save) }}
                    </div>
                    {{ form_end(sortieDeleteForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
