{% extends 'base.html.twig' %}

{% block title %}Sorties BetweenStudents{% endblock %}

{% block body %}
    <h1>Les sorties</h1>

    <div class="row">
        {{ form_start(searchSortieFormType) }}
        {{ form_widget(searchSortieFormType) }}
        <button class="ui primary button" type="submit">Rechercher</button>
        {{ form_end(searchSortieFormType) }}
    </div>

    <br>

    {% include("inc/card_sortie.html.twig") %}
{% endblock %}
