<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BetweenStudents{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/divers/logo_white.png') }}"/>

    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/semantic_add_on.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include("inc/navbar.html.twig") %}
{% include("inc/message-flash.html.twig") %}

<div class="pusher">
    {% block body %}{% endblock %}
</div>

{% include("inc/footer.html.twig") %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(document).ready(function() {
        $('.ui.dropdown').dropdown();

        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
        ;

        $('.ui.checkbox')
            .checkbox()
        ;

        setTimeout(function(){
            $('.message.auto-close').closest('.message').transition('fade');
        }, 5000 );
    });

    function removeMessage() {
        $('.message.manuel-close').remove();
    }
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
