{% extends 'base.html.twig' %}

{% block title %}Page 404{% endblock %}

{% block body %}

    <div class="ui inverted vertical masthead center aligned segment background-header">
        <div class="ui text container">
            <h1 class="ui inverted header">Page 404</h1>
            <h2>La page demandée n'existe pas</h2>
        </div>
    </div>

{% endblock %}
