<div class="ui inverted vertical footer segment padded dark-blue">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">À PROPOS</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Qui sommes-nous ?</a>
                    <a href="#" class="item">Nous rejoindre</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">DES QUESTIONS ?</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Aide</a>
                    <a href="#" class="item">FAQ</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">INFORMATIONS LÉGALES</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Conditions générales d’utilisation</a>
                    <a href="#" class="item">Vie privée / cookies</a>
                </div>
            </div>
        </div>
    </div>
</div>
