<div class="ui basic modal modalSupprimer{{ elementSuppression.id }} transition hidden">
    <div class="ui icon header">
        <i class="icon trash"></i>
        Supprimer {{ label_modal_suppression }}
    </div>
    <div class="row ui center aligned grid">
        <div class="column">Cette action est définitive. Confirmez-vous la suppression de {{ label_modal_suppression }} ?</div>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Non
        </div>
        <a class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Oui
        </a>
    </div>
</div>
