<div class="ui left fixed vertical menu">
    <div class="item">
        <img class="ui mini image" src="/images/logo.png" alt="Logo">
    </div>
    <a class="item">Sorties</a>
    <a class="item">Utilisateurs</a>
    <a class="item">Villes</a>
    <a class="item">Campus</a>
</div>

<div class="button_passage_user_admin">
    <div class="ui vertical labeled icon menu">
        <a class="item" href="{{ path('app_sortie') }}"><i class="share icon"></i>Mode USER</a>
    </div>
</div>
