{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile fourteen wide tablet fourteen wide computer centered column">
                <div class="ui cards centered">

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge bicycle icon"></i></div>
                            <div class="description">
                                Voir toutes les sorties que j'organise et auxquelles je participe
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button" href="{{ path('app_user_sortie') }}">Voir</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge user circle icon"></i></div>
                            <div class="description">
                                Pour modifier votre profil, c'est par là
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button" href="{{ path('app_user_edit') }}">Voir</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge lock icon"></i></div>
                            <div class="description">
                                Protéger mon compte et mettre à jour mon mot de passe
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button" href="{{ path('app_user_edit_password') }}">Voir</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge cogs icon"></i></div>
                            <div class="description">
                                Compléter et modifier vos préférences
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button">Voir</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge rocket icon"></i></div>
                            <div class="description">
                                A venir
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button">Voir</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header"><i class="huge dolly icon"></i></div>
                            <div class="description">
                                A venir
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui button">Voir</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
